---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import getSortedPosts from "@utils/getSortedPosts";

const blogPosts = await Astro.glob("../content/blog/*.md");
const sessionPosts = blogPosts.filter(post => post.frontmatter.session);
const sortedPosts = getSortedPosts(sessionPosts);

---

<Layout title={`Agenda | ${SITE.title}`}>
  <Header activeNav="agenda" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="agenda" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">Agenda</h1>


      <ul>
        {sortedPosts.map((post) => (
          <li>
            <h2><a href={post.url}>{post.frontmatter.title}</a></h2>
            <p>{post.frontmatter.description}</p>
          </li>
        ))}
      </ul>

      <!-- <slot /> -->
    </section>
  </main>
  <Footer />
</Layout>

<!-- <style></style> -->
