---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar, { type SearchItem } from "@components/Search";

const [posts, sessions] = await Promise.all([
  getCollection("posts", ({ data }) => !data.draft),
  getCollection("sessions", ({ data }) => !data.draft),
]);

const allEntries = [...posts, ...sessions];

const searchList: SearchItem[] = allEntries.map(({ data, slug }) => ({
  title: data.title,
  description: data.description ?? "",
  data,
  slug,
}));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
