---
export interface Props {
  tag: string;
  size?: "sm" | "lg";
}

const { tag, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${size === "sm" ? "my-1 mx-2" : "my-3 mx-2"}
  `}
>
  <a
    href={`/tags/${tag}`}
    transition:name={tag}
    class={`${size === "sm" ? "text-sm" : "text-lg"} group flex flex-row`}
  >
    <span
      class={`${
        size === "sm" ? " text-lg" : "text-2xl"
      } absolute -translate-y-1.5 font-serif font-black`}>#</span
    >
    <span
      class=`${
      size === "sm" ? "pl-3.5" : "pl-5"
    } font-mono group-hover:italic`
      >{tag}</span
    >
  </a>
</li>

<style>
  a {
    @apply relative border-b-2 border-dashed border-b-skin-fill hover:-top-0.5 hover:border-b-skin-accent hover:text-skin-accent focus-visible:p-1;
  }
  a svg {
    @apply -mr-5 h-6 w-6 scale-95 text-skin-base opacity-80 group-hover:fill-skin-accent;
  }
  span:first-child {
    @apply text-skin-accent;
  }
</style>
